Q1. Create one variable containing following type of data:                                                                                             
(i) string                                                                                                                                             
(ii) list                                                                                                                                             
(iii) float                                                                                                                                           
(iv) tuple

In [6]:
# VARIABLE CONTAINING STRING 
var="my name is apoorv singh"
# VARIABLE CONTAINING LIST 
var=[1,2,3,4]
# VARIABLE CONTAINING FLOAT
var=23.32
# VARIABLE CONTAINING TUPLE
var=(1,2,3,4)
# SINGLE VARIABLE CONTAINING STRING,LIST,FLOAT,TUPLE.
var=["apoorv singh",[1,2,3,4],23.32,(1,2,3,4)]

Q2. Given are some following variables containing data:                                                                                               
(i) var1 = ‘ ‘                                                                                                                                         
(ii) var2 = ‘[ DS , ML , Python]’                                                                                                                     
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]                                                                                                               
(iv) var4 = 1.                                                                                                                                         
What will be the data type of the above given variable.

A2. the data type of the above given variable is :

var1 = INVALID SYNTAX ‘ ‘  or INVALID CHARACTER

var2 = INVALID SYNTAX ‘ ’  or INVALID CHARACTER

var3 = INVALID SYNTAX ‘ ’  or INVALID CHARACTER

var4 = float

Q3. Explain the use of the following operators using an example:                                                                                       
(i) /                                                                                                                                                 
(ii) %                                                                                                                                                 
(iii) //                                                                                                                                               
(iv) **

A3. (i) / is division operator in pyhton is used to perform division operation on data and it gives the quotient of division.EXAMPLE :

In [58]:
a=6
b=2
print(a/b)

3.0

(ii) % is modulo operator in python and is used to get the remainder of the division operation.EXAMPLE :

In [59]:
a=7
b=2
print(a%b)

1

(iii) // is known as floor division operator in python and is used to convert the result of division to the nearest whole number.EXAMPLE :

In [60]:
a=7
b=2
print(a//b)

3

(iv) ** is known as exponential operator in python and it is used to raise the value of first operand which will be on the left side of the operator to the power of second operator which will be on the right side of the operator . EXAMPLE :

In [61]:
a=2
b=3
print(a**b)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [62]:
l=[1,23.45,"apoorv",True,(6+7j),[8,9,10],(11,12,13),{"name":"apoorv"},{14,15,16},17]

In [63]:
for i in l:
    print(f"ELEMENT : {i}")
    print("TYPE : ",type(i))

ELEMENT : 1
TYPE :  <class 'int'>
ELEMENT : 23.45
TYPE :  <class 'float'>
ELEMENT : apoorv
TYPE :  <class 'str'>
ELEMENT : True
TYPE :  <class 'bool'>
ELEMENT : (6+7j)
TYPE :  <class 'complex'>
ELEMENT : [8, 9, 10]
TYPE :  <class 'list'>
ELEMENT : (11, 12, 13)
TYPE :  <class 'tuple'>
ELEMENT : {'name': 'apoorv'}
TYPE :  <class 'dict'>
ELEMENT : {16, 14, 15}
TYPE :  <class 'set'>
ELEMENT : 17
TYPE :  <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [64]:
a=25
temp=a
b=5
c=0
while(a%b==0):
    c=c+1
    a=a/b
print(f"NUMBER {temp} IS DIVISIBLE BY {b} WITH {c} TIMES")

NUMBER 25 IS DIVISIBLE BY 5 WITH 2 TIMES

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [65]:
l=[]
for i in range(1,26):
    l.append(i)
for i in l:
    if(i%3==0):
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

A7. Mutable data types are the data types in which we can edit data ie insert or remove or extend data whenever we want , example list .Immutable data types are the ones in which we can’t make any changes, neither can we remove or add any data, for example Tuple.

In [66]:
# EXAMPLE OF MUTABLE DATA TYPE 
l=[23,24,4,542,23]
l[0]=0
l

[0, 24, 4, 542, 23]

In [55]:
# EXAMPLE OF IMMUTABLE DATA TYPE
a="apoorv"
a[0]="b"

TypeError: 'str' object does not support item assignment